# version is created from version.tmpl by version.py
# Beware: make_release sources this as a bash sourcefile.

__version__='0.2.1'

build_full='@commit@ @date@ @time@'
build_date="@date@"
build_id="@commit@"
