# version is created from version.tmpl by version.py
# Beware: make_release sources this as a bash sourcefile.

__version__='0.5.2'

BUILD_FULL='@commit@ @date@ @time@'
BUILD_DATE="@date@"
BUILD_ID="@commit@"
