#-*- coding: utf-8 -*-

# This is an example file of a language specific plugin


from FedoraReview import CheckBase, RegistryBase


class Registry(RegistryBase):
    """ Register all checks in this file in group "R". """

    group = 'R'

    def is_applicable(self):
        return self.checks.spec.name.startswith("R-")


class RCheckBase(CheckBase):
    """ Base class for all R specific checks. """

    def __init__(self, checks):
        CheckBase.__init__(self, checks, __file__)


class  RCheckBuildRequires(RCheckBase):
    """ Check if the BuildRequires have the mandatory elements. """

    def __init__(self, checks):
        RCheckBase.__init__(self, checks)
        self.url = 'http://fedoraproject.org/wiki/Packaging:R'
        self.text = 'Package contains the mandatory BuildRequires.'
        self.automatic = True

    def run_on_applicable(self):
        """
        Overriding run_on_applicable means that this code will run
        if is_applicable() is True.
        """

        br = self.spec.get_build_requires()
        passed = 'R-devel' in br and 'tex(latex)' in br
        self.set_passed(self.PASS if passed else self.FAIL)


class RCheckLatestVersionIsPackaged(RCheckBase):
    """ Check if the lastest version is packaged. """

    # This class attribute is used to override an existing test, typically
    # a generic one.
    # For example, in R FedoraReview can quite safely check if it is the
    # latest version which have been packaged, but there is a generic
    # check for that as in most cases it won't be possible do to so.
    # Here we therefore specify how to turn off this generic check
    # and keep only this specific one.

    deprecates = [CheckLatestVersionIsPackaged]

    def __init__(self, base):
        CheckBase.__init__(self, base)
        self.url = 'https://fedoraproject.org/wiki/Packaging:Guidelines'
        self.text = 'Latest version is packaged.'
        self.automatic = True
        self.type = 'SHOULD'

    def run(self):
        """
        A function overriding run is always called, no matter what kind
        of package. Normally,you should first test whether the test
        is applicable and quit if not.
        """

        # See if the package should be checked. If not, disable output:
        #     set_passed(self.NA)
        #     return

        # do something...

        # Access the spec file via:
        #  self.spec
        # the spec file itself is at:
        #  self.spec.lines
        # Access the srpm via:
        #  self.srpm

        # Return a simple 'approved' ([x])
        #     self.set_passed(self.PASS)
        # a failure[!]  with a Note: message:
        #     self.set_passed(self.FAIL, 'test failed because...')
        # or a pending [ ] status:
        #     self.set_passed(self.PENDING)

# Other classes doing other tests....
